# No subir datasets pesados a GitHub
#data/raw/*
#!data/raw/.gitkeep

# Archivos temporales de Python y Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Entornos virtuales (si tenés)
venv/
.venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db